* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    
    background-color: #111112;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/010/518/831/large_2x/digital-finance-and-banking-investment-service-in-futuristic-background-bank-building-with-online-growth-graph-investment-secure-money-and-financial-innovation-technology-vector.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 800px;
    text-align: center;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.balance-section {
    font-size: 24px;
    margin-bottom: 20px;
}

#balance {
    font-weight: bold;
    font-size: 28px;
    color: blue;
}

.transaction-section {
    margin: 15px 0;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6495ED;
}

